/* Card Size */
.card-img-top {
    height: 220px;
    width: 180px;
}

.image-size {
    text-align: center;
}

.card-body { 
    margin-right: 35px;
}

.card-footer {
    padding:0;
}

.card {
    margin-bottom: 30px;
}

.btn, .card-footer {
    border-radius: 10px;
}